img {
  width: 100%;
}

.noticia {
  color: white;
}
.noticia:hover {
  color: #bb2637;
}

.gridco {
  display: grid;
  grid-template-areas: "n1 n1 n2" "n1 n1 n3" "n4 n5 n6" "n7 n8 n9" "n10 n10 n10";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 200px);
  gap: 20px;
}

@media only screen and (max-width: 750px) {
  .gridco {
    grid-template-areas: "n1" "n2" "n3" "n4" "n5" "n6" "n7" "n8" "n9" "n10";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 300px);
  }
}
